In [ ]:
!pip install bs4
!pip install requests
!pip install html5lib

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [ ]:
soup= BeautifulSoup(page.content)
soup

In [5]:
soup_data = soup(requests,'html.parser')

In [6]:
soup.title.text

"ICC Men's ODI Team Rankings | ICC"

In [ ]:
add_info =[]
aditional_info = soup.find_all('td', class_='table-body__cell u-center-text')
for i in aditional_info:
    add_info.append(i.get_text().replace("\n",""))
add_info

In [65]:
ODI_match = []
for i in range(0,20,2):
    ODI_match.append(aditional_info[i].get_text().replace("\n",""))
ODI_match

['32', '31', '38', '31', '30', '36', '35', '36', '23', '28']

In [66]:
ODI_Points = []
for i in range(1,20,2):
    ODI_Points.append(aditional_info[i].get_text().replace("\n",""))
ODI_Points

['3,793',
 '3,475',
 '4,162',
 '3,167',
 '2,921',
 '3,350',
 '2,835',
 '2,788',
 '1,562',
 '1,445']

In [58]:
rating = soup.find_all('td', class_='table-body__cell u-text-right rating')

In [67]:
ODI_Rating = []
for i in range(0,10):
    ODI_Rating.append(team[i].get_text().replace("\n",""))
ODI_Rating

['119', '112', '110', '102', '97', '93', '81', '77', '68', '52']

In [69]:
print(len(ODI_match),len(ODI_Points),len(ODI_Rating))

10 10 10

In [70]:
import pandas as pd
df=pd.DataFrame({'ODI_match':ODI_match,'ODI_Points':ODI_Points,'ODI_Rating':ODI_Rating })
df

  ODI_match ODI_Points ODI_Rating
0        32      3,793        119
1        31      3,475        112
2        38      4,162        110
3        31      3,167        102
4        30      2,921         97
5        36      3,350         93
6        35      2,835         81
7        36      2,788         77
8        23      1,562         68
9        28      1,445         52