In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\imdisk\datatraned\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\imdisk\datatraned\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\imdisk\datatraned\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\imdisk\datatraned\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\imdisk\datatraned\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\imdisk\datatraned\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\imdisk\datatraned\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\imdisk\datatraned\lib\site-packages (from requests) (3.2)

In [54]:
from bs4 import BeautifulSoup
import requests

In [55]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page

In [58]:
htmlContent= page.content

In [59]:
soup= BeautifulSoup(htmlContent,'html.parser')

In [76]:
team = soup.find_all('span', class_='table-body__logo-text')

In [77]:
ODI_team = []
for i in range(0,10): #using range function to extract only top 10 data
    ODI_team.append(team[i].get_text().replace("\n",""))
ODI_team

['IND', 'PAK', 'IND', 'SA', 'ENG', 'NZ', 'SA', 'AUS', 'AUS', 'ENG']

In [108]:
Rating = soup.find_all('td',class_='table-body__cell rating')

In [109]:
ODI_Rating = []
for i in range(0,10):
    ODI_Rating.append(Rating[i].get_text().replace("\n",""))
ODI_Rating

['811', '795', '791', '789', '775', '775', '769', '750', '745', '740']

In [110]:
print(len(ODI_team),len(ODI_Rating))

10 10

In [111]:
import pandas as pd

df=pd.DataFrame({'ODI_team':ODI_team,'ODI_Rating':ODI_Rating})
df

  ODI_team ODI_Rating
0      IND        811
1      PAK        795
2      IND        791
3       SA        789
4      ENG        775
5       NZ        775
6       SA        769
7      AUS        750
8      AUS        745
9      ENG        740