In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\imdisk\datatraned\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\imdisk\datatraned\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\imdisk\datatraned\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\imdisk\datatraned\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: sniffio in c:\imdisk\datatraned\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\imdisk\datatraned\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\imdisk\datatraned\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\imdisk\datatraned\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\imdisk\datatraned\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\imdisk\datatraned\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\imdisk\datatraned\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\imdisk\datatraned\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\imdisk\datatraned\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\imdisk\datatraned\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\imdisk\datatraned\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\imdisk\datatraned\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\imdisk\datatraned\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\imdisk\datatraned\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\imdisk\datatraned\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
from selenium.webdriver.common.by import By
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
search_field_designation=driver.find_element_by_class_name("suggestor-input" )
search_field_designation.send_keys("Data Analyst")

In [6]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input" )
search_field_location.send_keys("Bangalore")

In [7]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [8]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [9]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f7c52a32-6b60-4235-b06f-427fe0b68f0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="6d60afbc-ba1a-42b9-835e-131f5f9d5fdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="fbb9db3b-58d1-45bc-a852-507f0e343582")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c0ed6b3d-0592-4f21-b9c9-4f9314d11ddb")>]

In [10]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Data Analyst / Business Analyst',
 'Data Analyst / Business Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS',
 'Business analyst + data Analysis']

In [11]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f53f12ca-3685-4741-8ef3-e69a0602456f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="311a694e-7e5b-4690-8645-1dcc9c05a011")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="9596adc5-c8f8-4b73-a612-c0abceb729d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="15095170-6d78-40ab-8efb-758f9cbd3778")>]

In [12]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['METRO Cash & Carry',
 'METRO Cash & Carry',
 'Leading US MNC into Analytics',
 'Anlage Infotech (I) Pvt. Ltd.']

In [13]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="8b5d7933-5df5-405d-86fa-446d052b4373")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="9ac1a2bd-31d9-413e-b568-c073cbdc1dbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="eb226fe2-ed3c-4f5c-9699-dac15acaa561")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ccde9e30-f17c-4917-9410-3255dbd79e13")>]

In [14]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['3-8 Yrs', '3-8 Yrs', '2-7 Yrs', '5-10 Yrs']

In [15]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4dcb3dd5-1842-4352-86f3-429692915dbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="266f58d6-f715-469a-9464-a06b1e2bba5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f49f7543-91c1-4404-b4f8-0545d80db09d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ca33bf4d-9390-48fe-9cdc-b79b1ec6ba1b")>]

In [16]:
for i in locations_tags:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [17]:
print(len(job_titles),len(company_names),len(location_list),len(experience_list))

20 20 20 20

In [18]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs['experience_required']=experience_list
jobs[0:10]

,title,company,location,experience_required
0,Data Analyst / Business Analyst,METRO Cash & Carry,Bangalore/Bengaluru,3-8 Yrs
1,Data Analyst / Business Analyst,METRO Cash & Carry,Bangalore/Bengaluru,3-8 Yrs
2,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",2-7 Yrs
3,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,"Hyderabad/Secunderabad, Bangalore/Bengaluru",5-10 Yrs
4,Data Analyst,upGrad,Bangalore/Bengaluru,1-3 Yrs
5,Associate Professional Data Analyst,DXC Technology,Bangalore/Bengaluru,3-6 Yrs
6,Business and Data Analyst,CAREERDOST ENTERPRISE,Bangalore/Bengaluru\n(WFH during Covid),0-5 Yrs
7,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-7 Yrs
8,Senior Data Analyst,Thomson Reuters,Bangalore/Bengaluru,2-4 Yrs
9,Data Analyst,referral,Bangalore/Bengaluru,2-5 Yrs

In [19]:
#que 2
driver.get('https://www.naukri.com/')

In [20]:
search_field_designation=driver.find_element_by_class_name("suggestor-input" )
search_field_designation.send_keys("Data Scientist")

In [21]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input" )
search_field_location.send_keys("Bangalore")

In [22]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div[1]/div[6]")
search_button.click()

In [23]:
job_titles=[]
company_names=[]
location_list=[]

In [24]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="26f4f23c-4268-4017-80c3-83aa67ef5fe7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="25eebd31-a609-4e99-aba9-854313491ff8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="29eab786-bd14-4331-8bf0-8510fdbdfab9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="eca7b32a-b22c-4ba5-a507-4bd9fdf462e9")>]

In [25]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Senior Data Scientist',
 'Sr. Analyst - Applied Data Scientist',
 'Applied Data Scientist / ML Senior Engineer (Python / SQL)',
 'Data Scientist']

In [26]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="79af7844-ebd3-46bc-a675-7745dc90d2df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="1ed556db-aa0d-421a-ac6b-0166903532ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="1ca5761a-65f8-4a78-bbc3-cd3a6c79ec97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="570617d0-ad0d-423e-b923-fe606bbb14f9")>]

In [27]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['UPL', 'Tesco', 'SAP India Pvt.Ltd', 'UPL']

In [28]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="64b6ffb1-0f6b-4f02-8fb6-b4d16c81bb00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="761276a0-5d0a-4753-9668-4a0fc6a64ebd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="9d320f6e-940f-4e64-a996-e347fe37ddf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="8695c37b-37f9-421c-a426-d05f4f90a0dc")>]

In [29]:
for i in locations_tags:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [30]:
print(len(job_titles),len(company_names),len(location_list))

20 20 20

In [31]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs[0:10]

,title,company,location
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
1,Sr. Analyst - Applied Data Scientist,Tesco,Bangalore/Bengaluru
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
4,Expert Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
5,Principal Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
6,Analyst - Applied Data Scientist,Tesco,Bangalore/Bengaluru
7,Research Data Scientist,Mavenir,Bangalore/Bengaluru
8,Senior Data Scientist Grade12,Flipkart,Bangalore/Bengaluru
9,Senior Data Scientist Grade12,Flipkart,Bangalore/Bengaluru

In [33]:
#que.3
driver.get('https://www.naukri.com/')

In [34]:
search_field_designation=driver.find_element_by_class_name("suggestor-input" )
search_field_designation.send_keys("Data Scientist”")

In [35]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div[1]/div[6]")
search_button.click()

In [36]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
search_button.click()

In [37]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
search_button.click()

In [38]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [39]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b44ca9e1-3442-4ef7-b19a-1bd6d2904fc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="06a51920-af4d-48b5-a5cc-93e8d28032fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f4af443c-0213-48c9-b2ec-ffdb95b2c821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c362c391-339a-46b9-9bda-5236658cc1e3")>]

In [40]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Data Scientist - Internet Jobs - II',
 'Data Scientist',
 'Junior Data Scientist',
 'Associate Scientist - Data Engineering']

In [41]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="3ff0e657-2fd4-4353-a72b-6e8060506cfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="3006b265-3b9d-4552-ae8e-cad3741306a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d8b5f860-e007-4146-8648-996b4d0bc269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d7cefdf6-713d-41df-9dbb-48e6bc175522")>]

In [42]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:4]

['Jobs Territory',
 'Ashkom Media India Private Limited',
 'EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED',
 'AXA Technology Services India Pvt. Ltd']

In [43]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="567347b9-5885-443f-9620-fa51e7c0c05d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="79785688-8eaa-4008-8282-ad9c6855e984")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f0e2e2f3-02dd-4571-8fd2-64c57980e598")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="5a693eb1-34e0-4c9f-b95d-cc73a72391bd")>]

In [44]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['3-6 Yrs', '3-6 Yrs', '1-2 Yrs', '2-5 Yrs']

In [45]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ab61e95c-c5c6-4954-b96d-34fc4937d493")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f9d36548-3270-40e6-8cc9-51d112ea4da9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="96b7f17b-bffa-4b3a-8194-1a5a47ad13de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="214913f6-6be3-483a-aa3a-71940239b68a")>]

In [46]:
for i in locations_tags:
    location=i.text
    location_list.append(location)
location_list[0:4]

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram']

In [47]:
print(len(job_titles),len(company_names),len(location_list),len(experience_list))

20 20 20 20

In [48]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs['experience_required']=experience_list
jobs[0:10]

,title,company,location,experience_required
0,Data Scientist - Internet Jobs - II,Jobs Territory,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-6 Yrs
1,Data Scientist,Ashkom Media India Private Limited,"Noida, Bangalore/Bengaluru",3-6 Yrs
2,Junior Data Scientist,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,Noida,1-2 Yrs
3,Associate Scientist - Data Engineering,AXA Technology Services India Pvt. Ltd,Gurgaon/Gurugram,2-5 Yrs
4,Data Scientist || Software Company || Immediat...,Skyleaf Consultants,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-8 Yrs
5,Data Scientist (freelance),2Coms,"New Delhi, Delhi",2-7 Yrs
6,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1-3 Yrs
7,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,"Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",0-4 Yrs
8,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",3-7 Yrs
9,Associate Data Scientist,Optum,Gurgaon/Gurugram,1-5 Yrs

In [49]:
#que.4
driver.get('https://www.flipkart.com/')

In [50]:
search_field_designation=driver.find_element_by_class_name("_3704LK" )
search_field_designation.send_keys("sunglasses")

In [52]:
cancel_button_ads=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
cancel_button_ads.click()

In [53]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [54]:
Brands=[]
Product_Description=[]
Price=[]
Discount=[]

In [55]:
Brand_tags=driver.find_elements_by_xpath("//div[starts-with (@class,'_2WkVRV')]")
Brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="5e7372d2-7dbf-4022-83ce-0c492c7f729e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="99481fd9-66ab-4199-a73d-4be1970b49f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="90bc1bf1-37f6-4f3e-a261-14c000097cb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="8eee7d28-baeb-4010-9264-42da84b032d8")>]

In [56]:
for i in Brand_tags:
    Brand=i.text
    Brands.append(Brand)
Brands[0:4]

['Elligator', 'PIRASO', 'Elligator', 'SUNBEE']

In [57]:
Price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
Price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b440916e-61a3-42b6-9d53-0cdf8973afac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="747ac856-cad6-4673-aa56-fa6dc1e3a4be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d29c1e84-b6e0-42eb-934e-186c1c9443c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a4a02efb-515a-4b4c-a785-8f436213deba")>]

In [58]:
for i in Price_tags:
    Prices=i.text
    Price.append(Prices)
Price[0:4]

['₹295', '₹249', '₹224', '₹283']

In [59]:
Product_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="5709aab7-fd0e-4902-a283-61fb383e285c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="29c62f82-2a89-4a3e-b6dc-31ba7821d689")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="65cb5c00-06a5-415a-9a0f-6cc7f36637d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="94dc9f52-987a-4ca3-8523-84cc78045c16")>]

In [60]:
for i in Product_tags:
    Description=i.text
    Product_Description.append(Description)
Product_Description[0:4]

['UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...']

In [61]:
Discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Discount_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c570edb6-cff2-48f8-8f63-7dd8c83443f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ca5d2fdf-185b-42a1-af06-78ff5c2377ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4bd20d1f-3a29-4c5d-8234-879bc544f6b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="62272843-ca06-499c-8bd1-3fa05879a6d4")>]

In [62]:
for i in Discount_tags:
    Discounts=i.text
    Discount.append(Discounts)
Discount[0:4]

['88% off', '84% off', '82% off', '78% off']

In [63]:
print(len(Brands),len(Price),len(Product_Description),len(Discount))

40 40 40 40

In [64]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Brands']=Brands
jobs['Price']=Price
jobs['Product_Description']=Product_Description
jobs['Discounts']=Discount
jobs[0:40]

,Brands,Price,Product_Description,Discounts
0,Elligator,₹295,UV Protection Round Sunglasses (54),88% off
1,PIRASO,₹249,UV Protection Aviator Sunglasses (54),84% off
2,Elligator,₹224,UV Protection Wayfarer Sunglasses (53),82% off
3,SUNBEE,₹283,"UV Protection, Polarized Wayfarer Sunglasses (...",78% off
4,DAHAAZIL,₹219,"UV Protection, Night Vision, Riding Glasses Wa...",78% off
5,SHAAH COLLECTIONS,₹195,"UV Protection, Polarized, Mirrored Rectangular...",88% off
6,Fastrack,₹647,UV Protection Wayfarer Sunglasses (Free Size),28% off
7,New Specs,₹265,UV Protection Rectangular Sunglasses (Free Size),86% off
8,PIRASO,₹225,UV Protection Wayfarer Sunglasses (32),85% off
9,Fastrack,₹719,UV Protection Wayfarer Sunglasses (Free Size),20% off
10,Fastrack,₹639,UV Protection Rectangular Sunglasses (Free Size),20% off
11,Lee Topper,₹299,Riding Glasses Wrap-around Sunglasses (Free Size),88% off
12,hipe,₹177,"Gradient, UV Protection Round Sunglasses (Free...",86% off
13,PIRASO,₹224,UV Protection Aviator Sunglasses (54),85% off
14,PIRASO,₹224,UV Protection Aviator Sunglasses (54),85% off
15,PIRASO,₹280,UV Protection Rectangular Sunglasses (52),89% off
16,New Specs,₹299,"Mirrored, UV Protection, Riding Glasses, Other...",78% off
17,ROZZETTA CRAFT,₹474,"Polarized, Riding Glasses Sports, Wrap-around ...",76% off
18,kingsunglasses,₹209,"UV Protection, Riding Glasses, Mirrored Wayfar...",82% off
19,Singco India,₹329,"Riding Glasses, UV Protection Clubmaster, Wayf...",83% off
20,Lee Topper,₹219,UV Protection Rectangular Sunglasses (Free Size),78% off
21,Fastrack,₹809,UV Protection Shield Sunglasses (Free Size),10% off
22,PIRASO,₹349,UV Protection Aviator Sunglasses (58),86% off
23,maxa,₹189,"UV Protection, Riding Glasses Rectangular, Way...",72% off
24,New Specs,₹329,"UV Protection, Mirrored Round Sunglasses (Free...",83% off
25,SUNBEE,₹259,"UV Protection, Polarized, Mirrored Retro Squar...",80% off
26,Fastrack,₹639,UV Protection Wayfarer Sunglasses (Free Size),20% off
27,DEIXELS,₹217,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",81% off
28,Elligator,₹333,UV Protection Aviator Sunglasses (55),83% off
29,ROZZETTA CRAFT,₹349,"UV Protection, Gradient Retro Square Sunglasse...",82% off
30,Fastrack,₹575,"Gradient, UV Protection Wayfarer Sunglasses (F...",28% off
31,kingscape,₹137,UV Protection Rectangular Sunglasses (Free Size),86% off
32,SRPM,₹249,UV Protection Wayfarer Sunglasses (50),80% off
33,New Specs,₹264,UV Protection Round Sunglasses (Free Size),79% off
34,ROYAL SON,₹399,Mirrored Aviator Sunglasses (Free Size),73% off
35,Fastrack,₹639,UV Protection Aviator Sunglasses (Free Size),20% off
36,kingsunglasses,₹216,UV Protection Round Sunglasses (54),80% off
37,GANSTA,₹284,UV Protection Aviator Sunglasses (57),85% off
38,AISLIN,₹498,"UV Protection, Gradient Round, Cat-eye Sunglas...",70% off
39,ROZZETTA CRAFT,₹379,"UV Protection, Gradient Rectangular Sunglasses...",81% off

In [66]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
search_button.click()

In [67]:
Brands=[]
Product_Description=[]
Price=[]
Discount=[]

In [68]:
Brand_tags=driver.find_elements_by_xpath("//div[starts-with (@class,'_2WkVRV')]")
Brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b44868a4-0004-40ca-bab6-080aa398cfe5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b8536713-7f49-48a2-80e2-9e863312cb1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="8550639b-d8f3-4c72-b741-8717e698a06a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="5bed4471-d7b4-4e1f-a22e-3aa70ed741b2")>]

In [69]:
for i in Brand_tags:
    Brand=i.text
    Brands.append(Brand)
Brands[0:4]

['kingsunglasses', 'HIPPON', 'kingsunglasses', 'ROZZETTA CRAFT']

In [70]:
Price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
Price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="fd907a94-a545-489c-84af-a3920d913c30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="46f0dd43-3756-47c3-afa0-4b7d4addf9b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="94b7d9f7-409d-4e8c-ae67-a396ee2522ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="98f1ab6a-b684-4909-940c-119304736e5c")>]

In [71]:
for i in Price_tags:
    Prices=i.text
    Price.append(Prices)
Price[0:4]

['₹269', '₹171', '₹329', '₹499']

In [72]:
Product_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="3ce3336e-9dda-4a5e-a117-2fc50ac3086c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7d8bbd82-da2e-41bd-b666-e476af710a86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f9bef702-0533-491d-b89a-27e13f5490b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7c98f364-89d3-4309-8c1f-4962657041fa")>]

In [73]:
for i in Product_tags:
    Description=i.text
    Product_Description.append(Description)
Product_Description[0:4]

['Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [74]:
Discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Discount_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2a202063-1c97-414e-ac4c-804e1bc9713b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f451d71e-aff8-4f93-9bc4-c945b6837960")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4dc8281d-110c-4e18-9bd7-8581cc4cbe35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d308922c-e1e8-42cb-9c79-797273325aeb")>]

In [75]:
for i in Discount_tags:
    Discounts=i.text
    Discount.append(Discounts)
Discount[0:4]

['82% off', '82% off', '79% off', '77% off']

In [76]:
print(len(Brands),len(Price),len(Product_Description),len(Discount))

40 40 40 40

In [77]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Brands']=Brands
jobs['Price']=Price
jobs['Product_Description']=Product_Description
jobs['Discounts']=Discount
jobs[0:40]

,Brands,Price,Product_Description,Discounts
0,kingsunglasses,₹269,"Mirrored, UV Protection Wayfarer Sunglasses (F...",82% off
1,HIPPON,₹171,UV Protection Wayfarer Sunglasses (55),82% off
2,kingsunglasses,₹329,UV Protection Round Sunglasses (Free Size),79% off
3,ROZZETTA CRAFT,₹499,UV Protection Retro Square Sunglasses (Free Size),77% off
4,New Specs,₹189,UV Protection Rectangular Sunglasses (Free Size),88% off
5,Rich Club,₹260,UV Protection Round Sunglasses (48),67% off
6,Silver Kartz,₹288,UV Protection Wayfarer Sunglasses (Free Size),80% off
7,Fastrack,₹647,"Gradient, UV Protection Wayfarer Sunglasses (F...",28% off
8,Lee Topper,₹276,"Riding Glasses, Night Vision Wrap-around Sungl...",88% off
9,kingsunglasses,₹189,UV Protection Rectangular Sunglasses (55),85% off
10,PIRASO,₹410,UV Protection Over-sized Sunglasses (65),84% off
11,SRPM,₹221,UV Protection Wayfarer Sunglasses (53),77% off
12,VINCENT CHASE,₹659,UV Protection Wayfarer Sunglasses (62),67% off
13,VINCENT CHASE,₹729,"by Lenskart Polarized, UV Protection Wayfarer ...",70% off
14,Rich Club,₹223,"UV Protection, Mirrored, Gradient Round Sungla...",72% off
15,PIRASO,₹349,UV Protection Aviator Sunglasses (Free Size),78% off
16,PHENOMENAL,₹353,"UV Protection, Mirrored Retro Square Sunglasse...",82% off
17,AISLIN,₹498,"UV Protection, Gradient Butterfly, Retro Squar...",67% off
18,Fastrack,₹699,UV Protection Aviator Sunglasses (Free Size),22% off
19,ROYAL SON,₹399,Mirrored Aviator Sunglasses (55),73% off
20,PHENOMENAL,₹361,UV Protection Retro Square Sunglasses (Free Size),81% off
21,Fastrack,₹639,UV Protection Wayfarer Sunglasses (Free Size),20% off
22,AISLIN,₹775,"Toughened Glass Lens, UV Protection Wayfarer, ...",79% off
23,hipe,₹233,Mirrored Wayfarer Sunglasses (55),76% off
24,Elligator,₹244,UV Protection Round Sunglasses (53),75% off
25,ROZZETTA CRAFT,₹404,"UV Protection, Riding Glasses Rectangular Sung...",81% off
26,NuVew,₹345,UV Protection Sports Sunglasses (62),72% off
27,hipe,₹170,"UV Protection, Night Vision, Riding Glasses, G...",86% off
28,Fastrack,"₹1,099",UV Protection Aviator Sunglasses (58),15% off
29,Mi,₹908,Polarized Aviator Sunglasses (Free Size),24% off
30,Lee Topper,₹281,UV Protection Cat-eye Sunglasses (Free Size),78% off
31,ROYAL SON,₹499,"UV Protection Rectangular, Retro Square Sungla...",66% off
32,elegante,₹499,"Polarized, Riding Glasses, Night Vision Sports...",78% off
33,Singco India,₹630,"Gradient, Toughened Glass Lens, UV Protection ...",78% off
34,Fastrack,₹575,"Gradient, UV Protection Wayfarer Sunglasses (F...",28% off
35,Ray-Ban,"₹3,014","Mirrored, UV Protection Aviator Sunglasses (58)",46% off
36,PIRASO,₹225,UV Protection Aviator Sunglasses (54),85% off
37,Fastrack,₹575,UV Protection Aviator Sunglasses (57),28% off
38,CRYSTAL CART,₹419,"UV Protection, Gradient Round Sunglasses (Free...",79% off
39,Elligator,₹366,"UV Protection Retro Square, Round Sunglasses (54)",81% off

In [78]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
search_button.click()

In [79]:
Brands=[]
Product_Description=[]
Price=[]
Discount=[]

In [80]:
Brand_tags=driver.find_elements_by_xpath("//div[starts-with (@class,'_2WkVRV')]")
Brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d71f38d5-6f4b-4471-89cb-17ad1d2159e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="988361c9-9361-4141-99ad-a3fca86579bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="37032bed-548c-409a-8a9e-21753a44cd16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4e416344-0062-42c1-9a5d-8db7bf206bd1")>]

In [81]:
for i in Brand_tags:
    Brand=i.text
    Brands.append(Brand)
Brands[0:4]

['PHENOMENAL', 'Singco India', 'Fastrack', 'Rich Club']

In [82]:
Price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
Price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ab507953-d138-429e-958a-c25aea8ddf50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="921fc0a3-ad31-48c7-ad78-fe8ca1eba9c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a624f55a-f506-4be3-9804-059df479181a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="06e1d7f6-7239-4b97-9d04-846d82665064")>]

In [83]:
for i in Price_tags:
    Prices=i.text
    Price.append(Prices)
Price[0:4]

['₹353', '₹245', '₹719', '₹199']

In [84]:
Product_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="0b07586b-0007-4f52-8f20-5bcf1c30e908")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ffdcac60-ecad-4049-b9a4-63d578221dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="9c21cbc3-3840-4934-b5c4-1fa12cb1194b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="65066f66-bbe2-4e65-8e93-556825c83d6d")>]

In [85]:
for i in Product_tags:
    Description=i.text
    Product_Description.append(Description)
Product_Description[0:4]

['UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)']

In [86]:
Discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
Discount_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a0161ea1-ad60-4f67-b017-2fa232a5e5f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="17ddd959-f1df-4ca9-97cc-b574881d060f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="677aa697-dacd-4cdd-8d01-61271a8233f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="1fdf6412-4e9b-4f69-a63b-56becc23e6ad")>]

In [87]:
for i in Discount_tags:
    Discounts=i.text
    Discount.append(Discounts)
Discount[0:4]

['82% off', '83% off', '20% off', '60% off']

In [88]:
print(len(Brands),len(Price),len(Product_Description),len(Discount))

40 40 40 40

In [89]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Brands']=Brands
jobs['Price']=Price
jobs['Product_Description']=Product_Description
jobs['Discounts']=Discount
jobs[0:20]

,Brands,Price,Product_Description,Discounts
0,PHENOMENAL,₹353,"UV Protection, Mirrored Clubmaster Sunglasses ...",82% off
1,Singco India,₹245,"Riding Glasses, UV Protection, Others Aviator ...",83% off
2,Fastrack,₹719,UV Protection Shield Sunglasses (Free Size),20% off
3,Rich Club,₹199,Polarized Round Sunglasses (48),60% off
4,ROZZETTA CRAFT,₹379,UV Protection Round Sunglasses (Free Size),85% off
5,Roadster,₹649,UV Protection Oval Sunglasses (57),35% off
6,ROYAL SON,₹229,"UV Protection, Gradient Wayfarer Sunglasses (55)",77% off
7,ROYAL SON,₹399,Mirrored Aviator Sunglasses (55),73% off
8,GANSTA,₹221,"UV Protection, Riding Glasses Wayfarer Sunglas...",87% off
9,Fastrack,₹759,UV Protection Sports Sunglasses (Free Size),15% off
10,kingsunglasses,₹214,"UV Protection, Others Round, Aviator Sunglasse...",78% off
11,ROYAL SON,₹699,Polarized Retro Square Sunglasses (61),53% off
12,Poloport,₹236,UV Protection Wayfarer Sunglasses (Free Size),87% off
13,Fastrack,₹639,Polarized Retro Square Sunglasses (Free Size),20% off
14,PIRASO,₹250,UV Protection Aviator Sunglasses (55),84% off
15,Elligator,₹359,UV Protection Wayfarer Sunglasses (53),89% off
16,New Specs,₹185,"UV Protection, Mirrored Sports Sunglasses (Fre...",85% off
17,Mi,₹764,Polarized Wayfarer Sunglasses (Free Size),23% off
18,kingsunglasses,₹299,"UV Protection, Night Vision Wayfarer Sunglasse...",82% off
19,Elligator,₹297,"UV Protection, Riding Glasses Rectangular, Ret...",80% off

In [ ]:
#que.5

In [90]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART')

In [93]:
Rating=[]
Review_summary=[]
Full_review=[]

In [94]:
Rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c9f55936-2d13-4f3d-a6cf-6297ecf25c69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="fdd6bc3e-3c71-410e-a43e-185e45074cdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="fc272ae0-80d7-4b9e-9812-33eb6832b79e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="fe6dc2ed-db14-4346-b0e4-b90e6dd4c61b")>]

In [95]:
for i in Rating_tags:
    Ratings=i.text
    Rating.append(Ratings)
Rating[0:4]

['5', '5', '5', '5']

In [96]:
Review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="10b8e396-a28f-4783-81ee-d0d04a12b96c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4e702513-cd8a-46dd-8142-0900d487ef07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ab24f82d-7c33-4bba-820a-f7542629b92e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="1e44989e-a1e6-4f08-a9b3-e337ab82a511")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e18353b4-15fd-4b1a-a98f-71a043ce527b")>]

In [97]:
for i in Review_tags:
    Reviews=i.text
    Review_summary.append(Reviews)
Review_summary[0:5]

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!']

In [98]:
fullReview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
fullReview_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d33b2c18-62b8-472e-bc11-9052fe03e6e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="1c541827-28ee-4e76-8277-96086b62b436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2dd91132-de5c-4206-80ea-ef80785cef89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e5213fab-c521-4943-8e4e-5d047b36603f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="18ad6b2b-1dc6-402e-a2c2-93ddf6cdb106")>]

In [99]:
for i in fullReview_tags:
    Reviews=i.text
    Full_review.append(Reviews)
Full_review[0:5]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.']

In [100]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [101]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Rating']=Rating
jobs['Review_summary']=Review_summary
jobs['Full_review']=Full_review
jobs

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Highly recommended,What a camera .....just awesome ..you can feel...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

In [102]:

next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
next_button.click()

In [103]:
Rating =[]
Review_summary=[]
Full_review =[]

In [104]:
Rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="fc9c26d1-0b7a-48bf-9445-3ffc049e88d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="95473f7b-8d04-40d1-9d52-cbe1ac1cbc4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4ee36dad-6f4e-48d1-9718-e6cf0cbb117f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7b4e3b61-c405-4fde-8973-b5250e43d410")>]

In [105]:
for i in Rating_tags:
    Ratings=i.text
    Rating.append(Ratings)
Rating[0:4]

['5', '5', '5', '5']

In [106]:
fullReview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
fullReview_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="6d696b20-db1d-456d-986e-6d3b2eb6d83e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ac50edad-9953-4c4f-805b-cf0c340e559d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="01a19d88-66d1-4183-a8a5-6433f05210ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b89400be-9479-4edd-bfcc-afb541aa4c36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="9efc9904-ef29-48cd-8448-effd6b5566b3")>]

In [107]:
for i in fullReview_tags:
    Reviews=i.text
    Full_review.append(Reviews)
Full_review[0:5]

['iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯"]

In [108]:
Review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="205f25be-a5b5-4098-8e43-23d090c2a4dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e8613a67-e0d4-45d0-a759-1399651b6204")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ba459842-f9c1-43f5-98dd-1df1c3b1c5f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c6bd04e7-64b7-4fa9-888c-1b4ced88ef8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d606f146-f95c-4029-9777-d03b86b24a2d")>]

In [109]:
for i in Review_tags:
    Reviews=i.text
    Review_summary.append(Reviews)
Review_summary[0:5]

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Highly recommended']

In [110]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [111]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Rating']=Rating
jobs['Review_summary']=Review_summary
jobs['Full_review']=Full_review
jobs

,Rating,Review_summary,Full_review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
5,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
6,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
7,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
8,5,Classy product,Totally in love with this ❤ the camera quality...
9,5,Terrific,Really worth of money. i just love it. It is t...

In [123]:
next3page_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next3page_button.click()

In [124]:
Rating =[]
Review_summary=[]
Full_review =[]

In [125]:
Rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="6d23ea39-71c1-4d03-aeb2-42e1c75eba1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="16b22535-20cf-41dc-9cae-077ec6bb8efb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a45972d1-efad-4282-8d7e-8d359734afcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="df0e0afe-69f6-407a-8b5b-230ddc515df3")>]

In [126]:
for i in Rating_tags:
    Ratings=i.text
    Rating.append(Ratings)
Rating[0:4]

['5', '5', '5', '4']

In [127]:
fullReview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
fullReview_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="6e3121d7-2030-4353-bbfe-f366353871dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="81669278-93d7-499b-bfd0-6c12f0945193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b34f79b3-2134-4653-aa08-495dcc950ec1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="8600dcf5-9c44-470d-99f3-27c061fc5218")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="337bb953-39af-42e6-8ad9-ed6e53ba4950")>]

In [128]:
for i in fullReview_tags:
    Reviews=i.text
    Full_review.append(Reviews)
Full_review[0:5]

['It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍']

In [129]:
Review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2df645bc-2ac6-46cf-92d1-46ba6b95af14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f1c984b1-4ce0-49a6-9d54-4980868e5c6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="93149567-6261-4c6c-b6ff-6c718120cba9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="1c8eff23-84f5-4ce7-9565-d42baa218c4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="68b92485-4d54-448f-8440-ab8eda088ab9")>]

In [130]:
for i in Review_tags:
    Reviews=i.text
    Review_summary.append(Reviews)
Review_summary[0:5]

['Worth every penny',
 'Wonderful',
 'Perfect product!',
 'Nice product',
 'Good choice']

In [131]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [132]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Rating']=Rating
jobs['Review_summary']=Review_summary
jobs['Full_review']=Full_review
jobs

  Rating     Review_summary                                        Full_review
0      5  Worth every penny  It’s been almost a month since I have been usi...
1      5          Wonderful  This is my first ever I phone. Before this I w...
2      5   Perfect product!  It is just awesome mobile for this price from ...
3      4       Nice product  Awesome Phone. Slightly high price but worth. ...
4      4        Good choice  Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
5      5          Brilliant  I have migrated from OP 7pro... and trust me, ...
6      5     Classy product  Superb Product !!!\nA big and worthy upgrade f...
7      5   Perfect product!  Battery backup is extraordinary, camera is dec...
8      5          Must buy!  It’s an amazing product from apple and the cam...
9      5      Great product  Again back to apple iphone after a gap of 2-3 ...

In [134]:
forthpage_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
forthpage_button.click()

In [135]:
Rating =[]
Review_summary=[]
Full_review =[]

In [136]:
Rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="44a1fdb2-607f-464a-a8de-eeb76b3966f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="06bed05a-ed4e-4132-a53c-5b9b20e6ce51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="3f197b35-1cbd-4cc8-af57-639c623196c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="78b757f9-68f3-4f3d-b682-31c6e46ddb92")>]

In [137]:
for i in Rating_tags:
    Ratings=i.text
    Rating.append(Ratings)
Rating[0:4]

['5', '5', '5', '5']

In [138]:
Review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2f08e3d2-7d67-47ac-8e1b-fe15fbae4331")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b88fe9bb-f159-4872-835e-f4e0496bb47e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="41e20e94-01a7-425d-84e4-aa46903e61d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2aa1c6a6-8c67-453b-91e3-6051127717c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="93c23e4f-67b2-4181-9e6c-3e642c990bd3")>]

In [139]:
for i in Review_tags:
    Reviews=i.text
    Review_summary.append(Reviews)
Review_summary[0:5]

['Fabulous!', 'Must buy!', 'Perfect product!', 'Simply awesome', 'Wonderful']

In [140]:
fullReview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
fullReview_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a70bcd45-54eb-4431-8d77-2765c7c0b9c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a4975245-9740-41f7-960b-98c7704f4d9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ab5286d0-beff-4c1a-aa05-8685ccf7a62c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b2d8389c-066f-4ec4-b103-3accee550a41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d2ae3943-c6e7-4362-84d1-a6c543339d46")>]

In [141]:
for i in fullReview_tags:
    Reviews=i.text
    Full_review.append(Reviews)
Full_review[0:5]

['awesome phone to have. it has got many smart features apart from mind blowing looks, camera, display, battery and sound. have fallen in love with this phone. must buy phone if you have got enough money. thanks to flipkart and apple of course..',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE']

In [142]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [143]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Rating']=Rating
jobs['Review_summary']=Review_summary
jobs['Full_review']=Full_review
jobs

,Rating,Review_summary,Full_review
0,5,Fabulous!,awesome phone to have. it has got many smart f...
1,5,Must buy!,Best Apple iPhone that i have bought at a very...
2,5,Perfect product!,After 1 month use I found camera quality best ...
3,5,Simply awesome,It's very high performances devise i am like t...
4,5,Wonderful,I just directly switch from iphone 6s to iphon...
5,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
6,5,Terrific purchase,The built quality is not very premium.\nThe ba...
7,5,Great product,Well you all know the specifications . One of ...
8,5,Excellent,Amazing camera and feel super machine I am not...
9,5,Mind-blowing purchase,This will help you more. See if you are planni...

que.5 only 40 data fetch more data left and geting in together

In [146]:
fifthpage_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
fifthpage_button.click()

In [147]:
Rating =[]
Review_summary=[]
Full_review =[]

In [148]:
Rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="6e560bc8-314d-4631-aa83-070044f67a79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="57f8f6ab-5644-4a27-95d3-ea1c5cf8808f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a24b40db-b5ca-4b84-a496-06bc5e07ebdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="5350fbe0-43a3-40e8-aa56-4095679e2217")>]

In [149]:
for i in Rating_tags:
    Ratings=i.text
    Rating.append(Ratings)
Rating[0:4]

['5', '5', '5', '4']

In [150]:
Review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a1265008-1e64-463b-8c88-e1bf7f89091f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d409b9ef-a39d-478e-96a5-2b5e4d2a6fa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4fa450e4-386c-474b-bf72-85e5dea895a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4027c77c-bbd4-4aff-86f0-f7c3528aa2ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="62ad5474-1941-4f46-95bb-2e0f8dc2a003")>]

In [151]:
for i in Review_tags:
    Reviews=i.text
    Review_summary.append(Reviews)
Review_summary[0:5]

['Wonderful', 'Must buy!', 'Just wow!', 'Very Good', 'Wonderful']

In [152]:
fullReview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
fullReview_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="fefd352e-ade4-4e91-ad24-99ef5cdb3900")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="26597404-8666-4bd4-8a88-693552d2eda1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="75b15517-941e-43cf-a8d8-c662dee4c61f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="efe7d6f9-9f09-411c-bdf4-6fcb28ea461f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="dd5736a1-adb5-4684-8db1-9cbfb6b485d7")>]

In [153]:
for i in fullReview_tags:
    Reviews=i.text
    Full_review.append(Reviews)
Full_review[0:5]

['Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 'I rate this product 5* as it has got amazing user experience with the best performing A13 bionic processor. The screen responds and graphics rendering is top notch. With casual gaming and internet browsing, the battery lasts for approx. 1 day. Camera is very good. You will fall in love with the portrait mode. You can call me a loyal Apple customer or whatever but I won’t stop praising the products and overall experience. That user experience matters and is worth every penny you pay.\n\nBelow ar...\nREAD MORE',
 'The ultimate performance\nCamera is superb\nThe battery backup also very good i never saw iphone gives this much of battery backup\nIf any one wana buy iphone 11 definitely i will recommend this mobile\nIt has the better battery and powerfull processer peak performance glorious camera and the display also 100% high quality lcd display if u had money for for 12 if u dont wana invest much money on that then go for iphone 11 it has maximum same specs only main difference between the 12 and 11 is...\nREAD MORE',
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 'Super and marvellous phone look very cute and nice sound. I love this phone i think white is good colur.Excellent camer 5*😍😘♥️♥️']

In [154]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [155]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Rating']=Rating
jobs['Review_summary']=Review_summary
jobs['Full_review']=Full_review
jobs

,Rating,Review_summary,Full_review
0,5,Wonderful,Superfast delivery by Flipkart. Thanks.\n\n1. ...
1,5,Must buy!,I rate this product 5* as it has got amazing u...
2,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
3,4,Very Good,impressive super phone and best in class camer...
4,5,Wonderful,Super and marvellous phone look very cute and ...
5,5,Classy product,Well while switching from android to iOS the f...
6,5,Just wow!,Best in class. Battery backup is good especial...
7,5,Awesome,Very excited to have this phone. This phone ha...
8,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
9,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...

In [156]:
sixthpage_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
sixthpage_button.click()

In [157]:
Rating =[]
Review_summary=[]
Full_review =[]

In [158]:
Rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="be4fd584-317d-42da-96d8-f2038e19b3ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="65b7d20e-8274-43b3-84b9-ee800edca46c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d4705a25-91af-4541-8b7e-c72a2b522108")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c78fbd0c-36cb-44c6-84a8-58a5b48d503c")>]

In [159]:
for i in Rating_tags:
    Ratings=i.text
    Rating.append(Ratings)
Rating[0:4]

['5', '5', '5', '5']

In [160]:
Review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="6016f3a7-85d6-4099-a8d8-f5d9e7364c65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c4c70f62-f6b4-4ccf-883e-708e78aa9049")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b99babf3-60e4-491d-b1ef-73c063a91a0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ae0aaa58-b0bd-4be5-b210-87e85eb0fb63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7ac3f544-48db-4780-96a7-add890946b07")>]

In [161]:
for i in Review_tags:
    Reviews=i.text
    Review_summary.append(Reviews)
Review_summary[0:5]

['Terrific purchase', 'Awesome', 'Classy product', 'Brilliant', 'Terrific']

In [162]:
fullReview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
fullReview_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="aa248863-e092-4bb9-ab19-bcc1ecee1b94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="11d3efee-494e-475c-975e-5270948a5e96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a1f0d871-d721-4796-ac12-29329b781857")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ee29773b-aad9-4805-96dd-bc189376008b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c58f99d7-ca9f-453d-a776-dc2f4ed4b890")>]

In [163]:
for i in fullReview_tags:
    Reviews=i.text
    Full_review.append(Reviews)
Full_review[0:5]

['Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say\nBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.\n\nAs for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.\n\nThe battery runs for a day with medium and high workload.\n\nThe display is good and the speakers are working fine.\n\nThe earphones doesn't have any base and you can use it for calling mostly.\n\nThe charging time is approximately for 90 minutes for full charging...\nREAD MORE"]

In [164]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [165]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Rating']=Rating
jobs['Review_summary']=Review_summary
jobs['Full_review']=Full_review
jobs

,Rating,Review_summary,Full_review
0,5,Terrific purchase,Its Very awesome product working and good came...
1,5,Awesome,I am using this phone for 5 days and its one o...
2,5,Classy product,Best and amazing product.....phone looks so pr...
3,5,Brilliant,Excellent camera and display touching very nic...
4,5,Terrific,I got this beast today. And I must say the pic...
5,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
6,5,Awesome,"Always love the apple products, upgraded from ..."
7,3,Does the job,phone is good but in display is 720p lcd in th...
8,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
9,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...

In [213]:
sevenpage_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
sevenpage_button.click()

In [214]:
Rating =[]
Review_summary=[]
Full_review =[]

In [215]:
Rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ced5aa92-c09f-4a81-aff5-4193c1b63043")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="21ff9434-1421-47f1-b5f0-3d5264b87ae5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f1b95978-3e69-4ba1-a143-f02b047c12a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="78c39275-7a04-4ebc-a87e-bece951761e3")>]

In [216]:
for i in Rating_tags:
    Ratings=i.text
    Rating.append(Ratings)
Rating[0:4]

['5', '5', '5', '5']

In [217]:
Review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="11dad8b0-1640-4afb-9b8b-a36074aa1670")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b95487db-0b35-41bd-aa47-41fe562b1a40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b6ce91d9-a4a2-467a-b969-fac9c895d4cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2e2d766d-63ca-4742-9ebc-fb8fbdbf3dbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="5cced3eb-4423-4027-a896-354ad6f52f82")>]

In [218]:
for i in Review_tags:
    Reviews=i.text
    Review_summary.append(Reviews)
Review_summary[0:5]

['Mind-blowing purchase', 'Brilliant', 'Fabulous!', 'Terrific', 'Excellent']

In [219]:
fullReview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
fullReview_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="840bb955-fd2f-42dc-abf5-4e691235ac88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e4ea7579-747a-4cec-8bfd-4a196abb3b60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f57e647c-44c3-4120-baaf-ecd6898ef1e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="68547e1c-187d-4b65-b66f-83407273425a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="26c535e1-09c4-4e34-84db-0bfc5b28e910")>]

In [220]:
for i in fullReview_tags:
    Reviews=i.text
    Full_review.append(Reviews)
Full_review[0:5]

['awesome Phone Smooth Touch Too good Sexyy looks one word Awesome',
 'A wort full value for money decision it’s . Simply go for it in 2021 its still a good decision . Awesome camera , Super smothered performance, Heck of build quality. And Most important it protects your privacy.',
 'Gift this to your loved ones fabulous product and amazing super fast delivery by flipkart',
 'I bought iPhone 11 On March 2021, And I am Writing this review after using the phone for 4 Months. I would Say Everything is fine, Top Performance, Nice Camera as Anyone would Expect from any series of iPhone but when the Question comes to Battery it is complicated. The Battery is fully optimised and it comes 3110 mAh capacity but the problem is with the charger. Honestly Apple Removed charger from in Box items in the name of Environment and they are also forcing us to buy any 20W PD 3rd part...\nREAD MORE',
 "Just go for it.\nThis phone is really amazing. I ordered it for my wife and we click photos on this thing which are better than dslr. I own OnePlus 6t but it's camera sucks. iPhone is really amazing when it comes to camera. It's worth spending 50k on this. Cons- only display is lcd. While using u don't feel it but if u compare with other phone then u can see difference quite easily.\nChanging from Android to iphone is bit difficult coz most of things u don't know but I liked it. Some of the a...\nREAD MORE"]

In [221]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [222]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Rating']=Rating
jobs['Review_summary']=Review_summary
jobs['Full_review']=Full_review
jobs

,Rating,Review_summary,Full_review
0,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
1,5,Brilliant,A wort full value for money decision it’s . Si...
2,5,Fabulous!,Gift this to your loved ones fabulous product ...
3,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
4,5,Excellent,Just go for it.\nThis phone is really amazing....
5,5,Excellent,A perfect phone and a good battery super camer...
6,5,Super!,This is my first ever iPhone.\nAnd I truly don...
7,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
8,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
9,5,Best in the market!,Don’t expect much from front camera… especiall...

In [223]:
Eighthpage_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
Eighthpage_button.click()

In [224]:
Rating =[]
Review_summary=[]
Full_review =[]

In [225]:
Rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="be94199e-230e-4a48-859e-d0f5fccce80f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="21de6694-fa21-4489-92d1-dba52a489641")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="8c147b0f-f0c8-492b-9e02-3db7addbec65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4a9e58af-2fb6-470c-9d76-513aa333086d")>]

In [226]:
for i in Rating_tags:
    Ratings=i.text
    Rating.append(Ratings)
Rating[0:4]

['4', '5', '5', '5']

In [227]:
Review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e2b90697-a229-4286-9507-6efeb911b7f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ededf217-01e1-4971-93d9-18504b252a41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e34997a4-c5b3-471f-b97a-8f42acc22bdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2642cb03-57cb-4cb3-86c0-4cac57d34e87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="8b5af3a5-6db4-49df-892e-e6c825cb04a9")>]

In [228]:
for i in Review_tags:
    Reviews=i.text
    Review_summary.append(Reviews)
Review_summary[0:5]

['Pretty good',
 'Excellent',
 'Worth every penny',
 'Mind-blowing purchase',
 'Fabulous!']

In [229]:
fullReview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
fullReview_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d1909dc0-12c8-4464-b019-9a3f9e0d87e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7f6eaad2-c84c-4f15-9b3d-6b7cc18e9306")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2ecaf6b8-b30b-417e-9fdd-42f4b5d61920")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="06389758-2dc8-48c2-b296-922cad1ea9b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="af8dfe21-fa04-4897-b178-b80b71772fc9")>]

In [230]:
for i in fullReview_tags:
    Reviews=i.text
    Full_review.append(Reviews)
Full_review[0:5]

["I've used this phone for over a month now and here are my takeaways.\nI would like to first talk about the best things about this phone and then the cons of it.\n\nPros:\nThis phone is a performance beast. It handles large games and applications effortlessly and you won't find any stutters or lags while playing graphic intensive games like pubg, cod , mortal kombat and asphalt.\n\nThis phone has only 4gb ram and yet the ram management is amazing, it can keep 3 heavy games in memory without reload...\nREAD MORE",
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 'Undoubtedly Iphone 11 is the most successful model till now and its performance is extraordinary and the security features are very impressive, display is more vibrant sound quality Camera Quality 5*****, but Iphone should add accessories too and act like scrooge.',
 'Excellent camera 📸 And Display touching very Nice And Smooth and very improvement against\nI phone 11 and new processor is very fast',
 'I purchased the iPhone 11 a month back. I must say Apple has impressed me yet again . I have been an Apple user for past 5 years . The phone is power packed with amazing features . What impressed me the most was the battery backup the phone offers . Battery can easily run upto 1.5 days in single charge with moderate to\nHeavy usage . If you’re looking for a value for money device , I don’t see any other phone in the price range which can match the iPhone 11 .\nOne thing I didn’t like was that ...\nREAD MORE']

In [231]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [232]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Rating']=Rating
jobs['Review_summary']=Review_summary
jobs['Full_review']=Full_review
jobs

,Rating,Review_summary,Full_review
0,4,Pretty good,I've used this phone for over a month now and ...
1,5,Excellent,A perfect phone and a good battery super camer...
2,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
3,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
4,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
5,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
6,5,Best in the market!,Don’t expect much from front camera… especiall...
7,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
8,5,Awesome,The phone is completely good\nAs far as camera...
9,3,Decent product,Everything u ll like it when u use this iPhone...

In [234]:
ninepage_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
ninepage_button.click()

In [235]:
Rating =[]
Review_summary=[]
Full_review =[]

In [236]:
Rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c8ee69d2-f40a-4459-9679-1dc9798f03c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="dd59dcad-ee3e-44ea-a0a5-4cf4360136f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="16756c93-62df-4849-bb20-dc894dbf59a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7c626d3c-1ec5-443f-b02e-d05976412c59")>]

In [237]:
for i in Rating_tags:
    Ratings=i.text
    Rating.append(Ratings)
Rating[0:4]

['5', '5', '3', '5']

In [238]:
Review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="332e94d8-8d59-4d5c-8a8a-b6c21ea7493d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="47a77b02-77aa-41d0-840d-856af090a95d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="da7ccae5-96f4-4428-ae13-a2d286bbe050")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="422243db-5ca0-453e-86f4-8b8ef214bde5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7caa45e3-0f94-4411-a9d3-be033dc5b7cf")>]

In [239]:
for i in Review_tags:
    Reviews=i.text
    Review_summary.append(Reviews)
Review_summary[0:5]

['Wonderful',
 'Mind-blowing purchase',
 'Does the job',
 'Simply awesome',
 'Best in the market!']

In [240]:
fullReview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
fullReview_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2ce079be-9911-4646-aadf-b8bae856f35c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e3a720d0-4467-43a9-8f93-6f78477eca6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c4725fe4-a11f-4b51-a37b-60fe927e4f1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="9ac03cec-6bb2-4e3c-9b9d-7679ce2207d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="682d210c-edc7-41a2-8754-09c5055527b0")>]

In [241]:
for i in fullReview_tags:
    Reviews=i.text
    Full_review.append(Reviews)
Full_review[0:5]

['Nice value for money good and best price I phone mind blowing camera processor very fast other android mobile I am happy India top selling phone 2020',
 'Absolutely powerful gadget. Loved it’s look! Soo glassy and classy. I would definitely recommend this model of Apple. Only disappointed with the 5W charger, one should purchase an 18W adapter for fast charging. Though battery backup is great. Bought it in September 2020, reviewing after so long so I’m gonna put the genuine review here.✅',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Awesome phone at this price.\nNo lagging issues whatsoever\nResolution is bit low but doesn’t feels like\nCamera is fantastic 12 MP front and 12 MP back with additional wide angle camera. Smooth 4K recording at 60 FPS is quite amazing.\nSpeaker is louder\nLove this phone',
 'Really very nice... my dad gifted me really I am soo happy with this phone love it 😇']

In [242]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [243]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Rating']=Rating
jobs['Review_summary']=Review_summary
jobs['Full_review']=Full_review
jobs

,Rating,Review_summary,Full_review
0,5,Wonderful,Nice value for money good and best price I pho...
1,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
2,3,Does the job,phone is good but in display is 720p lcd in th...
3,5,Simply awesome,Awesome phone at this price.\nNo lagging issue...
4,5,Best in the market!,Really very nice... my dad gifted me really I ...
5,5,Classy product,I got this phone for good price hence 5 star f...
6,4,Wonderful,I genuinely liked it. One of the best mobile p...
7,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
8,5,Fabulous!,Good product nice experience with Flipkart but...
9,5,Fabulous!,Gift this to your loved ones fabulous product ...

In [244]:
tenthpage_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
tenthpage_button.click()

In [245]:
Rating =[]
Review_summary=[]
Full_review =[]

In [246]:
Rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7d34d8d8-d2fc-4439-b580-02a06b749dd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e4d4c33e-babb-4d13-a816-1cc81ee1ee0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e69ffbd3-80d0-4d1b-837d-babd7bcef064")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="0e7bbc81-a280-443d-94b6-b0300ed0761a")>]

In [247]:
for i in Rating_tags:
    Ratings=i.text
    Rating.append(Ratings)
Rating[0:4]

['4', '5', '5', '5']

In [248]:
Review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e68c938d-2d9f-48c4-95c5-eb6341f99eb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="338f7f09-c0a0-4975-a489-bd47d88b2f6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="273c0e71-75a1-4e22-8315-d533bfbd9e45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="47ff3ce0-6f7e-498e-8d19-ec6b6d98ac78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="bec3d72a-84b3-41fe-9308-66b33fd3395c")>]

In [249]:
for i in Review_tags:
    Reviews=i.text
    Review_summary.append(Reviews)
Review_summary[0:5]

['Good quality product',
 'Excellent',
 'Mind-blowing purchase',
 'Worth every penny',
 'Super!']

In [250]:
fullReview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
fullReview_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="72c0f190-257a-43f4-a8e4-23f1d463e5fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="56a7f0af-197b-4c8a-aedd-c840bbd9df75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="fb3035dc-02e6-4ace-b8b8-24a08702610d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e9aa8308-1fe1-4cb1-9c11-727015b3aa38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d36ff6cf-2c78-4e8a-b6c2-71911ad4d511")>]

In [251]:
for i in fullReview_tags:
    Reviews=i.text
    Full_review.append(Reviews)
Full_review[0:5]

['I was torn between the oneplus 8 pro and the iphone 11. I had to shell out extra money for this, but I say if you can afford it, this truely is the best package.\nMind blowing camera, battery and overall performance. Face Id works like magic even in complete darkness without firing up the screen brightness. The phones with in display fingerprint scanners do this at night time and it really burns your eyes.\nI wanted the oneplus for its display but tbh the OLEDs on oneplus is really bad. Flick...\nREAD MORE',
 'Seller - SuperComNet ( my trust in you has grown deeper. Thanks for the genuine product )\nThe package came packed perfectly. The box was sealed which gave me a big relief.\n\nApple needs no introduction since its the dominant market player. I just love the way how IPhone 11 stands out so boldly. The moment I took it out from the box, I could feel the premium intensity. The body is remarkable and crafted for giving you a elite vibe.\n\nCamera is to die for. There is no other phone that can beat...\nREAD MORE',
 "i was confused between 11 and 11 pro. i was going towards 11 pro, but the screen size was not enough for me.\nAnd i saw 11 in the showroom. i didn't find much difference in screen quality.And cameras seems to be ok with me. And i saw offer's in flipkart and made the purchase.\nthe device is fabulous. The hardware and software quality is excellent. The new iOS is something you need to experience yourself. The drawback i found was absence of fast charger, but the pricing can compensate that. Am...\nREAD MORE",
 'I upgraded from one plus 6 to iPhone 11 and it’s too good. Very smooth, battery also good. I love it. And thanks flipkart for fast delivery.',
 "It's a great phone. From camera to display everything is best for the price.\nBest camera , best performance. I think everyone should buy it . This phone has best battery life so far in iphone series which I had used earlier. Happy to have it. Thanks Flipkart"]

In [252]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [253]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Rating']=Rating
jobs['Review_summary']=Review_summary
jobs['Full_review']=Full_review
jobs

,Rating,Review_summary,Full_review
0,4,Good quality product,I was torn between the oneplus 8 pro and the i...
1,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
2,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
3,5,Worth every penny,I upgraded from one plus 6 to iPhone 11 and it...
4,5,Super!,It's a great phone. From camera to display eve...
5,5,Mind-blowing purchase,Released in 2019\nIn 2021 still the best in se...
6,5,Classy product,Got my iPhone 11 today! It’s totally worth it ...
7,5,Great product,"Great quality at not so great price, But worth..."
8,5,Brilliant,"Wow wow and wow, in 48k you will not get anyth..."
9,5,Most Price worthy Iphone,Reviewing within 1st Month\n\n\n1st Month Revi...

In [270]:
#que.6
driver.get('https://www.flipkart.com/')

In [271]:
search_field_designation=driver.find_element_by_class_name("_3704LK" )
search_field_designation.send_keys("sneakers")

In [272]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [273]:
shoes_Bands =[]
product_description=[]
price=[]

In [277]:
shoes_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7d34d8d8-d2fc-4439-b580-02a06b749dd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e4d4c33e-babb-4d13-a816-1cc81ee1ee0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e69ffbd3-80d0-4d1b-837d-babd7bcef064")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="0e7bbc81-a280-443d-94b6-b0300ed0761a")>]

In [278]:
for i in shoes_tags:
    shoes=i.text
    shoes_Bands.append(shoes)
shoes_Bands[0:4]

['URBANBOX', 'BRUTON', 'HRX by Hrithik Roshan', 'BIRDE']

In [279]:
product_tags=driver.find_elements_by_class_name("IRpwTa")
product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="fc3c749d-d985-4ab6-8591-d14fd162293c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="06cfc5fd-29ce-48f3-862b-271b7a0e6bef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="08ee7cdc-7197-4871-a6dc-42766f4358c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="74619d2e-ca3a-4485-9b04-4106dc61e507")>]

In [280]:
for i in product_tags:
    description=i.text
    product_description.append(description)
product_description[0:4]

['Sneakers Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...']

In [281]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a190d987-1308-4a1e-8ba2-07641bdab0fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e5513363-55c1-4003-b1c3-3f3decccd1bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7458d19d-8ab0-41fa-85b3-25e27e44e3b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="92d2c341-7243-4998-8eb3-216939804fe1")>]

In [282]:
for i in price_tags:
    price.append(i.text)
price[0:4]

['₹158', '₹245', '₹692', '₹269']

In [283]:
print(len(shoes_Bands),len(product_description),len(price))

37 37 37

In [284]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['shoes_Bands']=shoes_Bands
jobs['product_description']=product_description
jobs['price']=price
jobs

,shoes_Bands,product_description,price
0,URBANBOX,Sneakers Sneakers For Men,₹158
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹245
2,HRX by Hrithik Roshan,Sneakers For Men,₹692
3,BIRDE,"Stylish Comfortable Lightweight, Breathable Wa...",₹269
4,Magnolia,Sneakers For Men,₹351
5,corsac,STYLISH MENS BLACK AND WHITE SNEAKER Sneakers ...,₹449
6,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹349
7,BRUTON,Lattest Sneakers Shoe Sneakers For Men,₹249
8,BRUTON,Sneaker Sneakers For Men,₹249
9,aadi,Sneakers For Men,₹297
10,ASTEROID,Original Luxury Branded Black Fancy Casual Wal...,₹449
11,Labbin,Sneakers For Men,₹419
12,Kzaara,Sneakers For Men,₹249
13,Echor,Men's Sneakers Fashion Lightweight Running Sho...,₹489
14,SCATCHITE,Sneakers Sneakers For Men,₹348
15,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹449
16,SPARX,Men White Sneakers Sneakers For Men,₹706
17,Layasa,Sneakers For Men,₹399
18,EMPTILE,all white heartbeat casual shoe Sneakers For Men,₹327
19,ONECENTRE,STR2 Sneakers For Men,₹250
20,CLYMB,Sneakers For Men,₹599
21,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹158
22,corsac,STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sne...,₹449
23,MAFLO,Sneakers For Men,₹374
24,NIKE,Ebernon Low Sneakers For Men,"₹4,291"
25,Kraasa,Series 7 Sneakers For Men,₹405
26,Ktiz,Sneakers For Men,₹376
27,World Wear Footwear,5011-Latest Collection Stylish & Trendy Casual...,₹199
28,Bavis,Combo Pack of 2 Casual Shoes For Men Sneakers ...,₹253
29,luxury fashion,Sneakers For Men,₹349
30,Chevit,516 Trendy Star Perfect Sneakers For Men,₹236
31,PEXLO,Combo Pack of 3 Casual Shoes Sneakers For Men,₹557
32,Numenzo,411 Casual Sneakers For Men,₹424
33,World Wear Footwear,5013-Latest Collection Stylish & Trendy of cas...,₹199
34,Robbie jones,Sneakers For Men,₹424
35,HOTSTYLE,Sneakers For Men,₹184
36,World Wear Footwear,Latest Collection-1227 Stylish Casual Sports S...,₹199

In [285]:
Next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
Next_button.click()

In [286]:
shoes_Bands =[]
product_description=[]
price=[]

In [287]:
shoes_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7d34d8d8-d2fc-4439-b580-02a06b749dd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e4d4c33e-babb-4d13-a816-1cc81ee1ee0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e69ffbd3-80d0-4d1b-837d-babd7bcef064")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="0e7bbc81-a280-443d-94b6-b0300ed0761a")>]

In [288]:
for i in shoes_tags:
    shoes=i.text
    shoes_Bands.append(shoes)
shoes_Bands[0:4]

['Robbie jones', 'AMICO', 'Kraasa', 'DUNKASTON']

In [289]:
product_tags=driver.find_elements_by_class_name("IRpwTa")
product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="0a21a2ab-f56e-4ad2-8b38-233fffe935f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="33daf500-d9f1-476f-a109-17bc7fcfe62b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="9b4d2e55-1f7e-4dc3-985b-7eb664c9933b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="ea6fb9e6-6725-41cd-a103-405b3dbe9123")>]

In [290]:
for i in product_tags:
    description=i.text
    product_description.append(description)
product_description[0:4]

['Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men']

In [291]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="54625e47-cd6d-4deb-ac7a-79e2b465890b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="339e7feb-e005-4098-a56e-c310a03599fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="545a811d-0815-44a0-b7a8-7d9449e62cf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="1af3ebe3-35c9-448d-b41a-030db85d45f7")>]

In [292]:
for i in price_tags:
    price.append(i.text)
price[0:4]

['₹424', '₹499', '₹411', '₹329']

In [293]:
print(len(shoes_Bands),len(product_description),len(price))

40 40 40

In [294]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['shoes_Bands']=shoes_Bands
jobs['product_description']=product_description
jobs['price']=price
jobs

,shoes_Bands,product_description,price
0,Robbie jones,Casual Sneakers Shoes For Men And Boys Sneaker...,₹424
1,AMICO,Sneakers For Men,₹499
2,Kraasa,Shark-41 Sneakers For Men,₹411
3,DUNKASTON,Sneakers For Men,₹329
4,Robbie jones,Sneakers For Men,₹424
5,ASIAN,WATERPROOF-05cFULLBLACK Sneakers For Men,₹549
6,Robbie jones,Casual Sneakers White Shoes For Men Sneakers F...,₹424
7,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,₹199
8,ZF Klub,Sneakers For Men,₹349
9,BIRDE,"Stylish Comfortable Lightweight, Breathable Wa...",₹303
10,bluemaker,casual shoe for men Sneakers For Men,₹399
11,luxury fashion,New Collection Pair of Stylish Shoe Sneakers F...,₹449
12,Labbin,Casual Sneakers White Shoes For Boys And Men S...,₹449
13,PUMA,Puma Wired Cage Sneakers For Men,"₹1,222"
14,Robbie jones,Sneakers For Men,₹424
15,LE GREEM,Comfortable & Ultra Light Weight Sneaker Sneak...,₹449
16,Arohi,Sneakers For Men,₹391
17,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹384
18,RapidBox,Sneakers For Men,₹645
19,Dizzler,Sneakers For Men,₹445
20,LE GREEM,Comfortable & Ultra Light Weight Sneaker Sneak...,₹449
21,ASIAN,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹498
22,Airland,shoe Sneakers For Men,₹159
23,Rzisbo,Sneakers For Men,₹449
24,T-ROCK,Sneakers For Men,₹249
25,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,₹435
26,Hida,Sneakers For Men,₹599
27,Hida,Sneakers For Men,₹599
28,WHITE WALKERS,Stylish & Trending Outdoor Walking Comfortable...,₹549
29,Chevit,Men's Combo Pack of 02 Shoes for Men Casual Sn...,₹398
30,Kraasa,"Casuals, Canvas, Partywear Sneakers For Men",₹410
31,Airland,1259 smart black lace-ups sneakers for men Sne...,₹183
32,Chevit,Perfect Pairs Casual Sneakers Outdoor Loafers ...,₹544
33,Echor,Sneakers For Men,₹489
34,SPARX,SM-439 Sneakers For Men,₹799
35,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹559
36,ASIAN,WATERPROOF-05cFULLWHITE Sneakers For Men,₹549
37,Kraasa,Shark-41 Sneakers For Men,₹414
38,SPARX,SM-439 Sneakers For Men,₹799
39,ONECENTRE,STR2 Sneakers For Men,₹250

In [295]:
Next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
Next_button.click()

In [296]:
shoes_Bands =[]
product_description=[]
price=[]

In [297]:
shoes_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7d34d8d8-d2fc-4439-b580-02a06b749dd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e4d4c33e-babb-4d13-a816-1cc81ee1ee0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e69ffbd3-80d0-4d1b-837d-babd7bcef064")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="0e7bbc81-a280-443d-94b6-b0300ed0761a")>]

In [298]:
for i in shoes_tags:
    shoes=i.text
    shoes_Bands.append(shoes)
shoes_Bands[0:4]

['SEGA', 'WHITE WALKERS', 'KNIGHT WALKERS', 'Labbin']

In [299]:
product_tags=driver.find_elements_by_class_name("IRpwTa")
product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b54673a1-77b2-4fc5-9da9-7258a870159e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="761878ad-8615-44c6-a800-a587571f6c33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="20af4c2e-a7cf-4c02-b9db-c35b8c3ddefc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="de596bfc-29e8-434c-bddb-e204daf3cf15")>]

In [300]:
for i in product_tags:
    description=i.text
    product_description.append(description)
product_description[0:4]

['Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men']

In [301]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4a51fd10-a0a7-4dba-bb39-68c0e518c45e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="252fc631-0a7a-4566-95c9-7b332b247c6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="95610733-6973-4cd7-a631-3a8e48597017")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d56dbe39-4ca1-48e8-81da-f5be015c4904")>]

In [302]:
for i in price_tags:
    price.append(i.text)
price[0:4]

['₹525', '₹549', '₹598', '₹449']

In [303]:
print(len(shoes_Bands),len(product_description),len(price))

40 40 40

In [305]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['shoes_Bands']=shoes_Bands
jobs['product_description']=product_description
jobs['price']=price
jobs[0:23]

,shoes_Bands,product_description,price
0,SEGA,Sneakers For Men,₹525
1,WHITE WALKERS,Stylish & Trending Outdoor Walking Comfortable...,₹549
2,KNIGHT WALKERS,Sneakers For Men,₹598
3,Labbin,Sneakers For Men,₹449
4,BIRDE,"Stylish Comfortable Lightweight, Breathable Ca...",₹349
5,Elevarse,Sneakers For Men,₹340
6,PUMA,Brave Sneakers For Men,"₹1,269"
7,Shoes Icon,Stylish White Casual Sneakers | White Party We...,₹388
8,WHITE WALKERS,Stylish & Trending Outdoor Walking Comfortable...,₹549
9,ZF Klub,Sneakers For Men,₹349
10,Jack Diamond,Canvas Sneaker Sneakers For Men,₹639
11,rushk,Sneakers For Men,₹249
12,STRANGER BROTHERS,Sneakers For Men,₹359
13,bluemaker,casual shoe for men Sneakers For Men,₹399
14,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,₹380
15,Echor,Men's casual shoes sports shoes black sneaker ...,₹489
16,AMICO,Sneakers For Men,₹499
17,DRESTA,Original Luxury Branded Fashionable Men's Casu...,₹449
18,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹348
19,RED TAPE,Sneakers For Men,"₹1,124"
20,Nilatin,Sneakers For Men,₹549
21,kardam&sons,casual sneaker shoes for men luxury fashion ca...,₹349
22,BIRDE,"Stylish Comfortable Lightweight, Breathable Wa...",₹369

In [306]:
#que7
driver.get('https://www.myntra.com/shoes')

In [307]:
pricefilter_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
pricefilter_button.click()

In [308]:
colorefilter_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
colorefilter_button.click()

In [309]:
shoes_Bands =[]
product_description=[]
price=[]

In [310]:
price_tags=driver.find_elements_by_xpath("(//div[@class='product-price'])")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="971a4dda-bf01-4584-8add-22a7ca3f2ab6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e4c1832e-1eb2-411d-ac5d-dd58f32deb2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="3e73833a-c0d2-4557-be4d-0d692c2e9041")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="618162f7-06ae-4476-a919-297492d75eb8")>]

In [311]:
for i in price_tags:
    
    price.append(i.text)
price[0:4]

['Rs. 7199Rs. 8999(20% OFF)', 'Rs. 9999', 'Rs. 11495', 'Rs. 7999']

In [312]:
shoes_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
shoes_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="cb7a0a58-8c43-4995-8259-3d3efa2817dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="842cee38-092d-4ffc-a187-06324fc6db1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="b8d138ff-bfab-493f-875d-dc10868cddac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="3e197aaf-a32e-4e11-8ced-e60b488ef6e7")>]

In [313]:
for i in shoes_tags:
    shoes=i.text
    shoes_Bands.append(shoes)
shoes_Bands[0:4]

['Skechers', 'ALDO', 'Nike', 'UNDER ARMOUR']

In [314]:
product_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="1a754a4c-93ff-403b-aac2-6a91f0b03a8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="6991dfd8-d861-435b-89ce-593f36157054")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="9fb49b03-d8cb-422b-93a8-92f1e7cf9fb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="42d81a4b-6526-4045-9344-3666fc8b86c3")>]

In [315]:
for i in product_tags:
    description=i.text
    product_description.append(description)
product_description[0:4]

['Men Max Cushioning Running',
 'Men Sneakers',
 'Men React Miler2 Running Shoes',
 'Men Charged Rouge 3 Run Shoes']

In [316]:
print(len(shoes_Bands),len(product_description),len(price))

50 50 50

In [317]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['shoes_Bands']=shoes_Bands
jobs['product_description']=product_description
jobs['price']=price
jobs

,shoes_Bands,product_description,price
0,Skechers,Men Max Cushioning Running,Rs. 7199Rs. 8999(20% OFF)
1,ALDO,Men Sneakers,Rs. 9999
2,Nike,Men React Miler2 Running Shoes,Rs. 11495
3,UNDER ARMOUR,Men Charged Rouge 3 Run Shoes,Rs. 7999
4,Nike,Women React MR 3 Running Shoes,Rs. 8920Rs. 10495(15% OFF)
5,ADIDAS Originals,Men Niteball II Sneakers,Rs. 9349Rs. 10999(15% OFF)
6,ALDO,Men Woven Design Sneakers,Rs. 13999
7,ALDO,Men Leather Driving Shoes,Rs. 12999
8,Nike,Men AIR MAX EXCEE Sneakers,Rs. 7995
9,Skechers,Men MAX CUSHIONING ELITE-LUCID,Rs. 7599Rs. 9499(20% OFF)
10,Puma,Electrify Nitro Running Shoes,Rs. 8499Rs. 9999(15% OFF)
11,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
12,PUMA Motorsport,Unisex Ferrari IONSpeed,Rs. 7199Rs. 8999(20% OFF)
13,ALDO,Men Leather Loafers,Rs. 12999
14,UNDER ARMOUR,Project Rock Training shoes,Rs. 9999
15,Skechers,Men Sky Vault Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
16,ADIDAS Originals,Men Solid Ozweego Sneakers,Rs. 9349Rs. 10999(15% OFF)
17,Puma,Mirage Sport Hacked Sneakers,Rs. 7199Rs. 8999(20% OFF)
18,Nike,Men Air Max Dawn Sneakers,Rs. 9295
19,UNDER ARMOUR,Men UA Charged Vantage 2 Run,Rs. 7999
20,Puma,Men Jamming 2.0 Running Shoes,Rs. 9749Rs. 12999(25% OFF)
21,UNDER ARMOUR,Men Charged Breeze Running,Rs. 8999
22,UNDER ARMOUR,Women Breeze Running Shoes,Rs. 8999
23,Puma,Men Voyage Nitro Running Shoes,Rs. 8799Rs. 10999(20% OFF)
24,Nike,Men AIR MAX PRE-DAY Sneakers,Rs. 13995
25,Puma,Eternity Nitro Running Shoes,Rs. 10399Rs. 12999(20% OFF)
26,Puma,Unisex Leather Trainers,Rs. 7999Rs. 9999(20% OFF)
27,Puma,Men D Nitro WTR Running Shoes,Rs. 12799Rs. 15999(20% OFF)
28,Tommy Hilfiger,Men Leather Sneakers,Rs. 7309Rs. 8599(15% OFF)
29,Puma,Men M Nitro Running Shoess,Rs. 10399Rs. 12999(20% OFF)
30,Reebok,Men Zig Dynamica 2.0 Running,Rs. 7999
31,UNDER ARMOUR,Women Charged Vantage 2 Run,Rs. 7999
32,UNDER ARMOUR,Men UA TriBase Reign4 Training,Rs. 11999
33,PUMA Motorsport,Men ZenonSpeed Sneakers,Rs. 7649Rs. 8999(15% OFF)
34,Reebok,Men Zig Dynamica 3.0 Running,Rs. 7999
35,Puma,Men Velocity Nitro Running,Rs. 9599Rs. 11999(20% OFF)
36,Tommy Hilfiger,Men Textured Loafers,Rs. 8999
37,Puma,Men Golf Shoes,Rs. 7649Rs. 8999(15% OFF)
38,Puma,Men Voyage Nitro Running Shoes,Rs. 8799Rs. 10999(20% OFF)
39,ADIDAS,Men Dropset Training Shoes,Rs. 12999
40,Louis Philippe,Men Solid Leather Formal Loafers,Rs. 9999
41,Bugatti,Men Black Walking Shoes,Rs. 8999
42,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
43,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
44,DAVINCHI,Men Solid Leather Formal Loafers,Rs. 8490
45,Puma,Men KING Top Football Shoes,Rs. 9599Rs. 11999(20% OFF)
46,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 8399Rs. 11999(30% OFF)
47,DEL MONDO,Men Leather Sneakers,Rs. 7890
48,Louis Philippe,Men Textured Leather Loafers,Rs. 9999
49,ASICS,Men Running Shoes,Rs. 7999

In [318]:
next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
next_button.click()

In [319]:
shoes_Bands =[]
product_description=[]

price=[]

In [320]:
price_tags=driver.find_elements_by_xpath("(//div[@class='product-price'])")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="26d9f6f3-256b-400f-8d1b-31c82e3e1c93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="edecfb36-6b5c-4749-92d6-97dd60f4d332")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="0a0c38c4-83b4-4e45-b050-2749470e2f06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d4d48808-8399-4e0e-ba93-598b0e96f3be")>]

In [321]:
for i in price_tags:
    
    price.append(i.text)
price[0:4]

['Rs. 7999', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 8499', 'Rs. 11999']

In [322]:
shoes_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
shoes_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="243ab04e-47f7-441a-b5e2-03af57ea27b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="bdacba9a-a573-47c7-b106-1ae5bab75778")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="36140ab6-a010-4e62-96a2-a3e6e6d2d903")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f035b803-4143-47a9-b710-289981362294")>]

In [323]:
for i in shoes_tags:
    shoes=i.text
    shoes_Bands.append(shoes)
shoes_Bands[0:4]

['ASICS', 'Puma', 'Bugatti', 'UNDER ARMOUR']

In [326]:
product_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
product_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="378ff419-0725-4958-a0df-68a769eb49ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d17db2d9-d49b-4487-bafd-c4884d50e264")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c585fcc9-5ef8-4063-a4a6-44f4858e4bb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="3dbd93ff-4e52-45c9-9853-374eb278c9a0")>]

In [327]:
for i in product_tags:
    description=i.text
    product_description.append(description)
product_description[0:4]

['Men Running Shoes',
 '',
 'Men Leather Driving Shoes',
 'W omen TriBase Reign 4 Running']

In [328]:
print(len(shoes_Bands),len(product_description),len(price))

50 50 50

In [329]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['shoes_Bands']=shoes_Bands
jobs['product_description']=product_description
jobs['price']=price
jobs

,shoes_Bands,product_description,price
0,ASICS,Men Running Shoes,Rs. 7999
1,Puma,,Rs. 7999Rs. 9999(20% OFF)
2,Bugatti,Men Leather Driving Shoes,Rs. 8499
3,UNDER ARMOUR,W omen TriBase Reign 4 Running,Rs. 11999
4,PUMA Hoops,Unisex Fusion Nitro Basketball,Rs. 7699Rs. 10999(30% OFF)
5,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 9999
6,Bugatti,Men Walking Shoes,Rs. 9999
7,Bugatti,Men Leather Monks,Rs. 8999
8,Puma,Women Running Sports Shoes,Rs. 8249Rs. 14999(45% OFF)
9,Bugatti,Men Solid Sneakers,Rs. 10499
10,Geox,Men Textured Leather Driving Shoes,Rs. 9441Rs. 10490(10% OFF)
11,Geox,Men Textured Leather Sneakers,Rs. 8991Rs. 9990(10% OFF)
12,Geox,Men Textured Leather Driving Shoes,Rs. 9891Rs. 10990(10% OFF)
13,Geox,Men Textured Leather Driving Shoes,Rs. 8991Rs. 9990(10% OFF)
14,Puma,Women Eternity NITRO Shoes,Rs. 10399Rs. 12999(20% OFF)
15,Saint G,Women Leather Block Heels,Rs. 8550Rs. 9500(10% OFF)
16,Geox,Men Textured Leather Slip-On Sneakers,Rs. 8991Rs. 9990(10% OFF)
17,Geox,Men Textured Leather Driving Shoes,Rs. 9891Rs. 10990(10% OFF)
18,EVADICT By Decathlon,Men Running Shoes,Rs. 9764Rs. 10499(7% OFF)
19,MANGO MAN,Men Solid Sneakers,Rs. 7990
20,Puma,Women Magnify Nitro Running,Rs. 10399Rs. 12999(20% OFF)
21,Geox,Women Textured Leather Loafers,Rs. 8991Rs. 9990(10% OFF)
22,Bugatti,Men Black Formal Derby Shoes,Rs. 11999
23,Birkenstock,Unisex Boston Super Grip Clogs,Rs. 9290
24,KIPRUN By Decathlon,Men Running Shoes,Rs. 7877Rs. 10099(22% OFF)
25,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
26,ASICS,Men Colourblocked PU Sneakers,Rs. 8499Rs. 9999(15% OFF)
27,Columbia,Women Trekking Shoes,Rs. 8999
28,Bugatti,Men Walking Shoes,Rs. 8999
29,UNDER ARMOUR,Women Charged Breeze Running,Rs. 8999
30,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
31,Reebok,Men Floatride Energy 4.0 Run,Rs. 9999
32,ASICS,Women Running Shoes,Rs. 7999
33,Puma,Men Deviate Nitro Shoes,Rs. 11999Rs. 14999(20% OFF)
34,ADIDAS,Men Solar Glide 5 Running Shoe,Rs. 13999
35,Clarks,Men Leather Derbys,Rs. 9999
36,Clarks,Men Woven Design Suede Flat Boots,Rs. 9999
37,J.FONTINI,Men Solid Loafers,Rs. 8990
38,J.FONTINI,Men Black Leather Loafers,Rs. 8490
39,Bugatti,Printed Comfort Sandals,Rs. 7499
40,Bugatti,Men Solid Leather Formal Derbys,Rs. 9499
41,Clarks,Women Leather Flatforms,Rs. 7999
42,ALDO,Leather Platform Mules,Rs. 9999
43,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
44,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
45,Bugatti,Women Textured Mules,Rs. 7999
46,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
47,ALDO,Block Pumps with Bows,Rs. 8999
48,Cole Haan,Women Leather Loafers,Rs. 11899Rs. 16999(30% OFF)
49,ALDO,Wedge Sandals,Rs. 7999

In [352]:
#QUE.8
driver.get('https://www.amazon.in/')

In [353]:
search_field_designation=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_field_designation.send_keys("Laptop")

In [354]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [357]:
i7search_button=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/span")
i7search_button.click()

In [358]:
titles=[]
Price_list=[]

In [359]:
titles_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="3a2f381a-2ac6-4898-960e-65b486fd0afc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="5467ca02-8e77-42a2-822e-5b480f8abe2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7e9be1a7-66d5-4bbf-84ea-1c7427e75111")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="fd519344-8e6b-4369-8048-6f51afd1dbba")>]

In [360]:
for i in titles_tags:
    title=i.text
    titles.append(title)
titles[0:4]

['Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7 EvoTM 15.6 inch Touchscreen 2-in-1 AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/with S Pen/Graphite/1.41Kg), NP950QED-KA1IN',
 'MSI Katana GF66 Gaming, Intel i7-11800H, 15.6" FHD IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia RTX3050Ti 4GB GDDR6/Black/2.25Kg), 11UD-476IN',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office 21/Backlit KB/FP Sensor/1.7Kg)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS']

In [361]:
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="6ef46611-918c-4b3d-acf1-c649b86ba97d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4b0937bb-2a3f-496a-a090-1c1a62a36f31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="4a72a120-c476-456c-ab8d-9eebb3f392fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="f4b88265-11ab-4def-a967-e51d91551aea")>]

In [362]:
for i in price_tags:
    Price=i.text
    Price_list.append(Price)
Price_list[0:4]

['1,29,990', '98,999', '77,999', '57,490']

In [ ]:
print(len(titles),len(Price_list))

In [ ]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=titles
jobs['Price_list']=Price_list
jobs[0:10]#print i make this QUE.8 AMAZON.COM.A___2  i upload in gihub...right now it make len error#otherwise code was fine
 # will run

In [365]:
#que9
driver.get('https://www.ambitionbox.com/')

In [366]:
jobs_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
jobs_button.click()

In [367]:
search_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input" )
search_field_designation.send_keys("Data Scientist”")

In [368]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [369]:
location_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
location_button.click()

In [370]:
search_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input" )
search_field_designation.send_keys("Noida")

In [371]:
Noida_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
Noida_button.click()

In [372]:
Rating_of_the_company=[]
company_names=[]
job_was_posted=[]

In [373]:
company_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="6cc6744d-c338-4f8d-8108-c9aa32e19311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a42f7d1e-fb2d-487a-8798-584361a607ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="9c84074a-ae7f-47fb-9b15-af99ffe8252e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="94a38a5b-d6a4-45d8-84eb-0142a5d4bd6d")>]

In [374]:
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names[0:4]

['Ericsson India Global Services Pvt. Ltd.',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'GENPACT India Private Limited',
 'TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED']

In [375]:
Rating_tags=driver.find_elements_by_xpath("//span[@class='body-small']")
Rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="7d654289-1e75-44fb-abe8-3d864774af97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e731cdb4-68be-465f-914b-c50157c3a060")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="150251c8-7fdb-4582-b69a-736ef2fafb74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="0e5e778c-0232-4331-8382-d2eeba306450")>]

In [376]:
for i in Rating_tags:
    Rating=i.text
    Rating_of_the_company.append(Rating)
Rating_of_the_company[0:4]

['4.3', '3.9', '4.0', '3.9']

In [377]:
posted_tags=driver.find_elements_by_xpath("//span[1][@class='body-small-l']")
posted_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="89d0f013-6db5-4ba3-a336-01489157b0bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="dc97f0f4-f90d-4716-8c7f-651f23200525")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="abfc589b-66ed-4bf4-b133-588fa36cdab3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="597f0c5d-b110-4a89-b287-1157704bf023")>]

In [378]:
for i in posted_tags:
    posted=i.text
    job_was_posted.append(posted)
job_was_posted[0:4]

['2d ago', '12d ago', '24d ago', '10d ago']

In [379]:
print(len(company_names),len(Rating_of_the_company),len(job_was_posted))

10 10 10

In [380]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['company_names']=company_names
jobs['Rating_of_the_company']=Rating_of_the_company
jobs['job_was_posted']=job_was_posted
jobs#top 10 value

,company_names,Rating_of_the_company,job_was_posted
0,Ericsson India Global Services Pvt. Ltd.,4.3,2d ago
1,EXL Services.com ( I ) Pvt. Ltd.,3.9,12d ago
2,GENPACT India Private Limited,4.0,24d ago
3,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,3.9,10d ago
4,GENPACT India Private Limited,4.0,1mon ago
5,Bristlecone India Limited,3.8,19d ago
6,Zyoin,4.1,23d ago
7,Newgen Software Technologies Ltd.,3.6,25d ago
8,Ashkom Media India Private Limited,3.7,10d ago
9,Pitney Bowes India Pvt Ltd,4.2,1mon ago

In [382]:
#Que.10
driver.get('https://www.ambitionbox.com/')

In [383]:
salary_option = driver.find_element_by_xpath("//a[@class='link salaries']")

salary_option.click()

job_profile = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

job_profile.send_keys('Data Scientist')

In [384]:
total_salary_record=[]
company_names=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required=[]

In [385]:
company_tags=driver.find_elements_by_xpath("//div[@class='name']/a")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="0d207a27-d212-415b-922d-c1308af21402")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="896babbf-3831-41e6-abe3-deefbe06c81b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2e1b5daf-42b4-47a9-9da1-45d8f87834e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="543b667a-d81b-4e89-9d22-3c48703daac3")>]

In [386]:
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names[0:4]

['Walmart', 'Ab Inbev', 'Reliance Jio', 'ZS']

In [387]:
total_salary_tags=driver.find_elements_by_xpath("//div[@class='name']/span")
total_salary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e72be095-619c-416a-b321-43831493a847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="15199c32-fee3-44e6-a5aa-d948428adc9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e800d4d0-e2c5-448f-b414-65b0607973db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e4c2e6df-7b24-44db-9faa-007e5b254f05")>]

In [388]:
for i in total_salary_tags:
    total_salary=i.text
    total_salary_record.append(total_salary)
total_salary_record[0:4]

['based on 11 salaries',
 'based on 32 salaries',
 'based on 10 salaries',
 'based on 15 salaries']

In [389]:
avrege_salary_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
avrege_salary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="18322937-fa7b-4817-b28e-4362cdf2756f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="42a46ea9-5d48-4b3a-89b4-e532b8996ec9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="19abecce-9925-44b1-b62f-7bc32b1a2970")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="c69161d7-24cd-4965-a55f-78b1b20563f9")>]

In [390]:
for i in avrege_salary_tags:
    avrege_salarys=i.text
    average_salary.append(avrege_salarys)
average_salary[0:4]

['₹ 29.7L', '₹ 20.5L', '₹ 18.9L', '₹ 16.7L']

In [391]:
minimum_salary_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
minimum_salary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d87570de-f35e-4888-9469-3715b2b93370")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="1eadd930-c84f-4559-95cc-467aa9a38877")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a5d50e1c-e6bb-4efb-a4f5-be293d78f30a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="2d7ae933-c367-4f70-87d7-54948cde02de")>]

In [393]:
for i in minimum_salary_tags:
    mini_salary=i.text
    minimum_salary.append(mini_salary)
minimum_salary[0:4]

['₹ 25.0L', '₹ 15.0L', '₹ 5.6L', '₹ 11.0L']

In [394]:
maximum_salary_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
maximum_salary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="d6b2689a-f887-4f18-b8e4-d7e906b79bd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="57a3ac68-c888-4837-a9c9-8c254fe7736c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="9a64117e-4be2-4e4d-b1d3-80ae2eeea903")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e2c5aa82-cf07-4530-accf-57d9735c1cbe")>]

In [395]:
for i in maximum_salary_tags:
    max_salary=i.text
    maximum_salary.append(max_salary)
maximum_salary[0:4]

['₹ 35.0L', '₹ 25.5L', '₹ 26.2L', '₹ 22.0L']

In [396]:
experience_required_tags=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
experience_required_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="47697a46-4b5c-49ee-a33d-d4db7db846ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="a6fd074b-d273-4505-a4d4-ffc4d04e3245")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="e64d0486-0c62-430c-9798-c72fba18bac0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="deccf6b4044ace42b5d79a0352bfcee2", element="508acc22-78b4-4ab9-88ff-5dc9f2374059")>]

In [397]:
for i in experience_required_tags:
    experience_req=i.text.split('\n')[2]
    experience_required.append(experience_req)
experience_required[0:4]

['3 yrs exp', '3-4 yrs exp', '4 yrs exp', '2 yrs exp']

In [398]:
print(len(company_names),len(minimum_salary),len(maximum_salary),len(average_salary),len(total_salary_record),len(experience_required))

10 10 10 10 10 10

In [399]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['company_names']=company_names
jobs['minimum_salary']=minimum_salary
jobs['maximum_salary']=maximum_salary
jobs['average_salary']=average_salary
jobs['total_salary_record']=total_salary_record
jobs['experience_required']=experience_required

jobs#top tan company data print

,company_names,minimum_salary,maximum_salary,average_salary,total_salary_record,experience_required
0,Walmart,₹ 25.0L,₹ 35.0L,₹ 29.7L,based on 11 salaries,3 yrs exp
1,Ab Inbev,₹ 15.0L,₹ 25.5L,₹ 20.5L,based on 32 salaries,3-4 yrs exp
2,Reliance Jio,₹ 5.6L,₹ 26.2L,₹ 18.9L,based on 10 salaries,4 yrs exp
3,ZS,₹ 11.0L,₹ 22.0L,₹ 16.7L,based on 15 salaries,2 yrs exp
4,Optum,₹ 11.0L,₹ 22.6L,₹ 15.9L,based on 30 salaries,3-4 yrs exp
5,Fractal Analytics,₹ 9.7L,₹ 23.0L,₹ 15.4L,based on 82 salaries,2-4 yrs exp
6,Tiger Analytics,₹ 9.0L,₹ 20.0L,₹ 14.8L,based on 47 salaries,2-4 yrs exp
7,UnitedHealth,₹ 8.3L,₹ 20.5L,₹ 13.9L,based on 55 salaries,2-4 yrs exp
8,Verizon,₹ 10.0L,₹ 21.0L,₹ 12.7L,based on 14 salaries,4 yrs exp
9,Ganit Business Solutions,₹ 8.5L,₹ 15.0L,₹ 12.4L,based on 13 salaries,4 yrs exp